@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

/* Style the body to remove default margin and padding */
body {
    margin: 0;
    padding: 0;
}

/* Style the app container with a gradient background */
.app {
    background: linear-gradient(to right, #333, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the slides container */
.slides {
    max-width: 100%;
    height: auto;
}

/* Add some padding and a border-radius for a card-like appearance */
.slides img {
    padding: 20px;
    border-radius: 10px;
}
